#page-container{
    background-color: #EFF8FF;
    margin-top: 50px;
    margin-bottom: 250px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: ffff;  
}
.search-bar {
    padding-top: 2px;
    background-color: ffff;
}
::placeholder{
    font-size: 20px;
    padding-left: 15px;
    color: black;
    font-weight: 600;
    font-weight: 500; font-family: 'Big Shoulders Text', cursive;
}
#search-image{
    height: 25px;
    padding-right: 15px;
}
#message{
    font-size: 20px;
    font-weight: 500; font-family: 'Big Shoulders Text', cursive;
    color: black;
    font-weight: 500;
    padding-top: 90px;
    padding-left: 15px;
}
.search{
    font-weight: 500; font-family: 'Big Shoulders Text', cursive;
    color: black;
}

@media (max-width: 412px){
    .search{
        font-size: 15px;
    }
    #message{
        padding-top: 10px;
        padding-left: 15px;
        font-size: 17px;
    }
    ::placeholder{
        font-size: 17px;
    }

}