@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: #edfafd;
  font-size: 62.5%;
  font-family: "League Gothic", sans-serif;
  font-family: "Poppins", sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

#heading_text {
  margin-top: 150px;
  color: #0b132a;
  font-size: 7rem;
  font-weight: 800;
}
#heading_text #typewriter {
  color: #00b4d8;
}

#heading_image {
  width: 70rem;
  /* animation: move 3s infinite; */
}
/* 
@keyframes move {
  0% {
    padding-top: 30px;
  }
  50% {
    padding-top: 0px;
  }
  100% {
    padding-top: 30px;
  }
} */

/* media queries */
@media (max-width: 480px) {
  #heading_image {
    width: 32rem;
  }
  #heading_text {
    margin-top: 50px;
    font-size: 4rem;
    font-weight: 800;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  #heading_image {
    width: 45rem;
  }
}
