* {
  margin: 0;
  padding: 0;
  font-family: "poppins", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #edfafd;
}

footer {
  width: 100%;
  /* position: absolute; */
  bottom: 0;
  background-color: #0b132b;
  color: #fff;
  padding: 30px 0 10px;

  font-size: 13px;
  line-height: 20px;
}

.footer_row {
  width: 85%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}

.footer_col {
  flex-grow: 100;
  flex-basis: 25%;
  padding: 10px;
}

.footer_col:nth-child(2),
.col:nth-child(3) {
  flex-basis: 15%;
}

.footer_logo {
  width: 80px;
  margin-bottom: 40px;
}

.footer_col h2 {
  width: fit-content;
  margin-bottom: 40px;
  position: relative;
}

.footer_col h3 {
  width: fit-content;
  margin-bottom: 40px;
  position: relative;
}
.footer_email-id {
  width: fit-content;
  border-bottom: 1px solid #ccc;
  margin: 20px 0;
}

ul li {
  list-style: none;
  margin-bottom: 12px;
}

ul li a {
  text-decoration: none;
  color: #fff;
}

.form1 {
  padding-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  margin-bottom: 50px;
}

form .fa-envelope {
  font-size: 18px;
  margin-right: 10px;
}

form input {
  width: 100%;
  background: transparent;
  color: #ccc;
  border: 0;
  outline: 0;
}

form button {
  background: transparent;
  border: 0;
  outline: none;
  cursor: pointer;
}

form button .fa-arrow-right {
  font-size: 16px;
  color: #ccc;
}

.social-icons .fa-brands {
  width: 40px;
  height: 40px;

  margin-bottom: 1rem;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  color: #000;
  background: #fff;
  margin-right: 15px;
  cursor: pointer;
}

hr {
  width: 90%;
  border: 0;
  border-bottom: 1px solid #ccc;

}

.copyright {
  text-align: center;
}



@keyframes moving {
  0% {
    left: -20px;
  }
  100% {
    left: 100%;
  }
}

@media (max-width: 700px) {
  footer {
    bottom: unset;
  }
}
@media (max-width: 480px) {
  p,
  li {
    font-size: 0.7rem;
  }
  p {
    word-wrap: break-word;
  }
}

