#page-container {
  background-color: #ffffff;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: 500;
  font-family: "Big Shoulders Text", cursive;
}




.card {
  border: none;
  border-radius: 10px;
  box-shadow: 4px 4px rgba(41, 40, 40, 0.612);

}

.container {
  width: auto;
  background-color: var(--main-color) !important;
}

.c-details span {
  font-weight: 300;
  font-size: 13px
}



/* CSS */
.btn-styled {
  background-color: #222;
  border-radius: 4px;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: block;
  font-family: "Farfetch Basis","Helvetica Neue",Arial,sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  margin-left: auto;
  margin-right: auto;
  max-width: none;
  min-height: 44px;
  min-width: 10px;
  outline: none;
  overflow: hidden;
  padding: 9px 20px 8px;
  position: relative;
  text-align: center;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 20%;
}

.btn-styled:hover,
.btn-styled:focus {
  opacity: .75;
}
.icon {
  width: 50px;
  height: 50px;
  background-color: #eee;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 39px
}

.badge span {
  background-color: #fffbec;
  width: 60px;
  height: 25px;
  padding-bottom: 3px;
  border-radius: 5px;
  display: flex;
  color: #e6b515;
  justify-content: center;
  align-items: center
}




  
.blue-btn{
  background-color: #0b132a;
  border: 0px;
  color: white;
}
.blue-btn:focus+.blue-btn, .blue-btn:focus,.blue-btn:hover{
  background-color: #0d193d; color: white;
}
.list-group li{
  list-style: circle;
}

.blue-btn a{
  text-decoration: none;
  color: white;
}


